<div class="modal fade" id="aboutModal">
    <div class="modal-dialog">
    
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">關於我們</h4>
            </div>
            <div class="modal-body">
                <table class="table borderless">
                    <tbody>
                        <tr>
                            <td><img src="http://lope.linguistics.ntu.edu.tw/images/shukai.jpg" class="about-img"></td>
                            <td>Ph.D. in Computational Linguistics, University of Tüebingen, Germany.</td>
                        </tr>
                        <tr>
                            <td><img src="http://lope.linguistics.ntu.edu.tw/images/achi.jpg" class="about-img"></td>
                            <td>M.A. Student in Linguistics, National Taiwan University, Taiwan</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        
    </div>
</div>